/.vs
.vs/

/Debug
Debug/

# Prerequisites
*.d

# Log files
*.log
*.tlog
*.pdb
*.idb

# Compiled Object files
*.obj
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.ilk

# Executables
*.exe
*.out
*.app
